*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page-container {
	width: 100vw;
	height: 100vh;
	display: grid;
	place-items: center;
	text-align: center;
}

.ar-container,
.vr-container {
	width: 100%;
	display: grid;
	place-items: center;
}

.ar-container model-viewer,
.vr-container #vrview iframe {
	width: 75vw;
	height: 75vh;
	border: 1px solid black;
	border-radius: 0.5rem;
}
